/* div {
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  } */
  
  #books {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    overflow: auto;
  }
  li{
    margin: 5px;
  }
  .book {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: #343352;
    color: #b3b3d1;
    border: none;
    font: inherit;
    cursor: pointer;
    width: 100%;
    min-width: 10rem;
    text-align: left;
    
  }
  ul{
    list-style: none;
  }
  
  button:hover,
  button:active,
  .active {
    background-color: #4c53d8;
    color: #070822;
  }
  
  
  span {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: normal;
  }
  .container {
    margin-top: 30px;
    margin-left: 150px;
    background-color: white;
    border-radius: 20px;
    color: black;
    width: 500px;
    padding: 20px;
    text-align: center;
  }
  input.ng-invalid.ng-touched{
    border: 1px solid red;
  }
.container div{
    margin :10px;
}
label{
    margin-right: 5px;
}
.btn
{
    padding: 10px;
    background-color: #70509c;
    border-radius: 10px;
}
