<a routerLink="/">Book List</a>
    @if(book){
        <div class="book">   
            <h2>{{book.title |uppercase |shorten:10}}</h2>
            <p>Auther: {{book.auther}}</p>
            <p>Genre: {{book.genre}}</p>
            <p>Price: {{book.price |currency}}</p>
            <p>Published Year: {{book.publishedDate }}</p>
            <button class="btn" (click)="onDeleteBook()">Delete Book</button>
        </div>
        
          <app-add-book (bookCreated)="onEditBook($event)"/>
    }@else{
        <p>Select a book to see it's details</p>
    }

